body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

.header {
    width: 1100px;
    height: 293px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-black {
    width: 148px;
    height: 105px;
    top: 92px;
    left: 478px;
}

.menu {
    width: 391.48px;
    height: 22px;
    top: 133px;
    left: 50px;   
}

li {
    display: inline-block; 
}

.address {
    width: 240px;
    height: 98px;
    top: 95px;
    left: 810px;
    border-width: 1px;

}

.cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/cover.jpg");
    background-size: cover;
    background-position: center;
    width: 1100px;
    height: 757px;
    top: 293px;
}
