body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

.header {
    width: 1100px;
    height: 293px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    margin: 0 auto; /*примечания по шапке: расстояние до меню, гэп между пунктами, ШРИФТ*/
}

.menu {
    text-align: right;
    justify-self: start;
    padding-left: 50px;
}

.menu .li_menu:first-child {
    text-decoration: none;
    list-style: none;
}

.ul_menu {
    display: flex;
    gap: 30px;
    list-style-type: circle; 
    width: 100%;
}

.li_menu {
    white-space: nowrap;

}

.address {
    max-width: 240px;
    height: 98px;
    border-width: 1px;
    justify-self: end;
    text-align: left;
    padding-right: 50px; 
}

.logo-black {
    width: 148px;
    height: 105px;
}

.a_logo {
    display: block;
}                                 /*тут закончилась шапка и начинается мэин*/

.cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/cover.jpg");
    background-size: cover;
    background-position: center;
    width: 1100px;
    height: 757px;
}

.ono_tebe_nado {
    color: white;
    text-transform: uppercase;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 100px;
    width: 1000px;
    height: 385px;
    
}
.ono {
display: block;
width: 286px;
height: 115px;

}

.tebe {
display: block;
width: 339px;
height: 115px;

}

.nado {
display: block;
width: 387px;
height: 115px;

}

.description {
    display: flex;
    height: ;
    width: 1000px;
    align-items: end;
    padding-bottom: 50px;
     padding-left: 50px;
    padding-right: 50px;
}

.description_p {
    color: white;
    font-family: "Raleway";
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 15px;
}

button {
    width: 256px;
    height: 51px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: white;
    font-family: "Raleway";
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
}